@charset "UTF-8";

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
    }

    #principal {
        background-color: gray;
    }

    #amarelo {
        background-color: rgb(255, 255, 224);
    }

    #verde {
        background-color: rgb(144, 238, 144);
    }

    .pageyellow {
        color: rgb(150, 107, 15);
    }

    .pagegreen {
        color: rgb(18, 19, 17);
    }

    ul {
        color: darkred;
    }

    li {
        list-style-type: disc;
    }